.knob {
    --knob-size: 25px;
    width: var(--knob-size);
    height: var(--knob-size);
    border-radius: 50%;
    position: absolute;
    background-color: white;
    border: 2px solid;
    top: 20px;
    left: 60px;
    transform: translate(-50%,-50%);
}