.wrapper {
    height: 150px;
    width: 150px;
    position: absolute;
    --hue: 180deg;
    cursor: pointer;
}

.layer1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000, #fff);
    /* pointer-events: none; */
}

.layer2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,hsl(var(--hue) 100% 50% /0),hsl(var(--hue) 100% 50% /1));
    mix-blend-mode: overlay;
    /* pointer-events: none; */
}

.btn {
    --size: 20px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}