:root {
  font-family:  'departure-mono', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --hue-gradient: "";
  --main-gradient: "";
  --gray-300: hsl(260, 8%, 25%);
  --gray-500: hsl(260, 8%, 50%);
  --gray-700: hsl(199, 8%, 39%);
  --box-size: 250px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

@font-face {
  font-family: 'departure-mono';
  src: url('./../public/font/DepartureMono-Regular.woff2') format('woff2');
}